html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  background-color: #e1e1e1;
  font-family: "Ubuntu", sans-serif;
}
body.footer-fijo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.footer-fijo main {
  flex: 1;
}
/* GLOBALES */
img {
  max-width: 100%;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
input:not([type="submit"]),
textarea {
  border: 1px solid #333;
  border-radius: 0.4rem;
  margin: 0 auto;
}
ul {
  list-style: none;
}

/* UTILIDADES */
.contenedor {
  width: 90%;
  margin: 0 auto;
}
.separador::after {
  content: "";
  margin: 1rem auto;
  background-image: url(../img/separador.png);
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;
  display: block;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* HEADER */
.site-header {
  background-color: black;
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
@media (min-width: 992px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: end;
  }
}
.header img {
  display: block;
  margin: 1rem auto;
  width: 30%;
}
@media (min-width: 992px) {
  .header img {
    width: 100%;
    margin: 1rem 0;
  }
}
.nav-carta {
  margin-top: 3rem;
}
.nav-carta > div  {
  justify-content: center;
}
@media (min-width: 768px) {
  .nav-carta > div {
    margin: 2rem 0;
  }
}
.nav-carta > div a {
  margin-right: .8rem;
  font-size: 1.6rem;
}
@media (min-width: 370px) {
  .nav-carta > div a {
    margin-right: 2rem;
  }
}
@media (min-width: 992px) {
  .nav-carta {
    display: flex;
  }
  .nav-carta > div a {
    margin-right: 5rem;
    font-size: 1.8rem;
  }
}
.ocultar {
  display: none;
}
@media (min-width: 1500px) {
  .ocultar {
    display: flex;
  }
  .flecha {
    display: none!important;
  }
}
.nav a {
  font-family: "Ubuntu", sans-serif !important;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  transition: .5s;
}
@media (min-width: 992px) {
  .nav a {
    display: inline-block;
    margin: 0 3rem 0 0;
  }
  .nav {
    text-align: right;
  }
}
.nav a:last-of-type {
  margin-right: 0;
}
@media (min-width: 992px) {
  .nav a:last-of-type {
    margin-right: 3rem;
  }
}
.nav a:hover {
  color: rgba(255, 255, 255, 0.5);
}
/* HERO */
.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  -moz-filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}
.hero {
  position: relative;
  height: 70vh;
}
.hero::before {
  background-image: url(../img/tostado.jpeg);
  content: "";
}
.hero h1 {
  position: relative;
  color: #ffffff;
  text-align: center;
  padding: 12rem;
}
@media (min-width: 768px) {
  .hero h1 {
    padding: 25rem;
  }
}

/* NOSOTROS */
.site-nosotros {
  margin: 1rem;
  background-color: #ffffff;
  border: 4px solid #212121;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .site-nosotros {
    margin: 10rem;
  }
}
.site-nosotros h2 {
  text-align: center;
  font-size: 3rem;
}
.comidas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 990px) {
  .comidas {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}
.comida {
  border: 3px solid black;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 5rem;
}
.comida p {
  font-size: 2.6rem;
  padding: 1rem;
}
@media (min-width: 769px) {
  .comida p {
    font-size: 1.6rem;
  }
}
.comida h3 {
  border-bottom: 1px solid #333;
  padding-bottom: 1rem;
  font-size: 3.2rem;
}
.imagen {
  height: 400px;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .imagen {
    height: 700px;
  }
}

/* CONTACTO */
form {
  background-color: #ffffff;
  text-align: left;
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem -1rem -1rem -1rem;
  border: 5px solid black;
  box-shadow: 0.2rem 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
  font-size: 2.6rem;
}
@media (min-width: 769px) {
  form {
    font-size: 1.6rem;
    margin: 0;
  }
}
form h2 {
  text-align: center;
}
form legend {
  font-size: 2rem;
  margin: 0 0 3rem 5rem;
}
.contenedor-campo {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media (min-width: 768px) {
  .contenedor-campo {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 0 auto;
  }
}
.campo {
  margin-bottom: 5rem;
  text-align: center;
}
.campo:last-of-type {
  margin: 0;
}
@media (min-width: 768px) {
  .campo {
    text-align: center;
  }
  .campo label {
    margin-right: 2rem;
  }
}
.campo input,
textarea {
  display: block;
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 990px) {
  .campo input,
  textarea {
    display: inline-block;
    width: 100%;
  }
  .campo input {
    height: 5rem;
  }
  textarea {
    margin-bottom: -2rem;
  }
  .campo label {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
}
.btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  float: right;
  margin-top: 2rem;
  width: 100%;
}
@media (min-width: 768px) {
  .btn-form {
    margin: 0 auto;
    width: 100%;
  }
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.932);
}

/* FOOTER */
footer {
  background-color: #333;
  margin-top: 3rem;
  font-size: 2rem;
}
@media (min-width: 769px) {
  footer {
    font-size: 1.6rem;
  }
}
.contenido-footer {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 480px) {
  .contenido-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer {
  padding: 1rem;
  color: rgb(194, 194, 194);
  text-align: center;
}
.footer a {
  color: white;
  text-decoration: underline;
}
.footer-iconos a {
  font-size: 5rem;
  margin-right: 2rem;
}
.footer-iconos a:last-of-type {
  margin-right: 0;
}
.copyright {
  text-align: center;
  background-color: rgb(41, 41, 41);
  margin: 0;
  padding: 1rem;
}

/* PÁGINAS INTERNAS */
/* Carta */
.seccion.cafeteria p,
.seccion.dulces p,
.contenido-desayuno li span,
.desayuno h2,
.secundario h4,
ul.secundario,
.terciario h4,
.terciario span,
.con-alcohol h4,
.con-alcohol h3 {
  color: rgb(61, 35, 22);
}
.seccion.panificacion h2,
.seccion.panificacion span,
.seccion.dulces h2,
.seccion.dulces span,
.primario h4,
.contenido-desayuno .primario span,
.cena h2,
.terciario li,
.contenido-promo h2,
.promociones li span,
.sin-alcohol span,
.sin-alcohol h2 {
  color: #d1a064;
}
.contenido-cena .secundario span,
.seccion.cafeteria h2,
.seccion.cafeteria span,
ul.secundario h4  {
  color: white;
}
.body-carta {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  color: white;
}
.contenido-carta {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
}
.fondo-carta {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  .contenido-carta {
    margin: 3rem;
    border-radius: 1rem;
  }
  .fondo-carta {
    background-attachment: unset;
    background-size: cover;
  }
}
.isIOS {
  background-attachment: unset!important;
}
.contenido-principal p {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: .5rem;
}
.contenido-principal span,
.contenido-desayuno li span,
.contenido-cena span {
  font-size: 2.6rem;
  font-weight: bold;
  text-align: right;
}
.seccion {
  padding: 0 3rem 3rem 3rem;
  margin: 2rem 2rem 0 2rem;
}
@media (min-width: 768px) {
  .seccion,
  .desayuno {
    padding: 0 3rem 3rem 3rem;
    margin: 5rem 5rem 2rem 5rem;
  }
}
.seccion h2,
.desayuno h2,
.cena h2,
.sandwich h2,
.promos h2,
.sin-alcohol h2 {
  font-family: "Sansita Swashed", cursive;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .seccion h2 {
    font-size: 5rem;
    margin: 0 0 3rem 0;
    text-align: left;
  }
}
.seccion p {
  font-size: 2rem;
}
.seccion.cafeteria {
  background-color: rgba(209, 160, 100, 0.8);
  border-radius: 0 0 5rem 5rem;
}
.seccion.panificacion {
  background-color: rgba(61, 35, 22, 0.8);
  border-radius: 5rem 5rem 0 0;
}
.seccion.dulces {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 5rem 0 5rem;
}
/* Desayuno y merienda */
.desayuno img,
.cena img,
.sandwich img {
  height: 15rem;
  width: 15rem;
  display: block;
  margin: 0 auto;
}
.imgAlto {
  height: 20rem!important;
  width: 15rem!important;
}
.contenido-desayuno ul {
  padding: 0;
}
@media (min-width: 990px) {
  .contenido-desayuno,
  .contenido-cena,
  .contenido-sandwich {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
  }
}
.contenido-desayuno li,
.contenido-cena ul li,
.contenido-sandwich ul li {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: .5rem;
  align-items: center;
}
.contenido-desayuno li h4 {
  margin: 0;
  font-size: 2.6rem;
}
.contenido-desayuno li p {
  font-size: 1.6rem;
  margin: 0;
}
.primario {
  background-color: rgb(61, 35, 22);
  padding: 2.5rem;
  border-radius: 3rem;
}
@media (min-width: 768px) {
  .primario {
    height: auto;
  }
}
.secundario {
  background-color: #d1a064;
  border-radius: 5rem;
  padding: 2.5rem;
}
.secundario .pizza {
  padding: 3.5rem!important;
}
@media (min-width: 768px) {
  .secundario {
    height: auto;
  }
}
.terciario {
  background-color: white;
  border-radius: 5rem;
  padding: 2.5rem;
}
.pequenio {
  grid-template-columns: 3fr 1fr !important;
  grid-template-rows: 1fr !important;
}
.pequenio h4 {
  grid-column: 1/2 !important;
  margin: 0;
}
.click-me {
  margin-top: 1rem;
  color: white;
}
/* ALMUERZO/CENA */
.cena {
  background-color: white;
  color: black;
}
.pizza {
  padding: 2rem;
}
.pizza li {
  display: grid;
  padding-bottom: 2rem; 
  grid-template-columns: 2fr 1fr 1fr!important;
  align-items: center;
  column-gap: 2rem;
}
/* SANDWICHES */
.sandwich {
  background-color: rgb(61, 35, 22);
  color: white;
}
.contenido-sandwich li h4,
.contenido-sandwich li span,
.terciario h4,
.terciario span,
ul.secundario h4,
.contenido-promo h2,
.promociones li span,
.sin-alcohol span,
.con-alcohol span {
  font-weight: bold;
  margin: 0 0 .5rem 0;
  font-size: 2.6rem;
}

/* PROMOCIONES */
.promos {
  background-image: url(../img/foto5.jpeg);
}
.contenido-promo {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: 20rem!important;
  color: rgb(61, 35, 22);
  border-radius: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .contenido-promo {
    margin: 0 20%;
  }
}
@media (min-width: 992px) {
  .contenido-promo {
    margin: 0 30%;
  }
}
.promociones ul {
  padding: 0;
}
.promociones ul li {
  display: grid;
  grid-template-columns: 5fr 1fr;
  column-gap: 2rem;
  align-items: center;
  padding: 1rem;
  border-top: 1px rgb(61, 35, 22) solid;
  border-bottom: 1px rgb(61, 35, 22) solid;
  border-radius: 1rem;
}

/* BEBIDAS */
.contenido-bebidas {
  background-image: url(../img/licuado.jpeg);
}
@media (min-width: 768px) {
  .bebidas {
    margin: 0 20%;
  }
}
@media (min-width: 992px) {
  .bebidas {
    margin: 0 30%;
  }
}
.sin-alcohol {
  background-color: rgba(61, 35, 22, 0.8);
  padding: 2rem;
  border-radius: 3rem 0 3rem 0;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}
.sin-alcohol h2,
.sin-alcohol h3,
.con-alcohol h3 {
  grid-column: 1/-1;
}
.sin-alcohol ul,
.con-alcohol ul {
  padding: 0;
}
.sin-alcohol ul li h4,
.con-alcohol ul li h4 {
  margin: 0;
  padding-bottom: 1rem;
}
.right {
  border-right: 2px solid rgb(61, 35, 22);
}
.con-alcohol {
  background-color: rgba(209, 160, 100, 0.8);
  padding: 2rem;
  border-radius: 0 3rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

/* FORMULARIO CONTACTO */
.formulario-main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.formulario-main h3 {
  font-size: 4rem;
}