:root {
  --primario: rgb(61, 35, 22);
  --primarioTransparente: rgba(61,35,22,.8);
  --secundario: #d1a064;
  --secundarioTransparente: rgba(209,160,100,.8);
  --terciario: white;
  --terciarioTransparente: rgba(255,255,255,.8);
}
html {
  box-sizing: border-box;
  font-size: 62.5%; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: white;
  font-size: 1.6rem;
  background-color: #e1e1e1;
  font-family: 'Oswald', sans-serif;
}
body.footer-fijo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.footer-fijo main {
  flex: 1;
}
/* GLOBALES */
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul {
  list-style: none;
}
h2 {
  font-family: 'Sansita Swashed', cursive;
}
/* UTILIDADES */
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}
.seccion {
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 5rem;
}
@media (min-width: 768px) {
  .seccion {
    width: 50%;
  }
}
.ocultar {
  display: none;
}
.fondo-fijo {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.separador::after {
  content: "";
  margin: 1rem auto;
  background-image: url(../img/separador.png);
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;
  display: block;
}
.isIOS {
  background-attachment: unset!important;
}
.swal2-popup {
  font-size: 1.7rem!important;
  height: 40rem;
  width: 50rem!important;
}
/* HEADER */
.site-header{
  background-color: black;
}
.header a img {
  display: block;
  width: 40%;
  margin: auto auto;
}
@media (min-width: 768px) {
  .header a img {
    display: block;
    width: 20%;
    margin: 0 auto;
  }
}
.nav {
  text-align: center;
  margin: 2rem 0;
}
.nav a {
  padding: .3rem;
}
@media (min-width: 768px) {
  .nav a {
    padding: 3rem;
  }
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* HERO */
.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  -moz-filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}
.hero {
  position: relative;
}
.hero::before {
  background-image: url(../img/tostado.jpeg);
  content: "";
}
.hero h1 {
  position: relative;
  color: #ffffff;
  text-align: center;
  padding: 12rem;
}
@media (min-width: 768px) {
  .hero h1 {
    padding: 25rem;
  }
}

/* NOSOTROS */
.site-nosotros {
  color: black;
  margin: 1rem;
  background-color: #ffffff;
  border: 4px solid #212121;
  border-radius: 0.5rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .site-nosotros {
    margin: 10rem;
  }
}
.site-nosotros h2 {
  color: black;
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}
.comidas {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem;
}
@media (min-width: 990px) {
  .comidas {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}
.comida {
  color: black;
  border: 3px solid black;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 5rem;
}
.comida p {
  font-size: 2rem;
  padding: 1rem;
}
@media (min-width: 769px) {
  .comida p {
    font-size: 1.6rem;
  }
}
.comida h3 {
  color: black;
  border-bottom: 1px solid #333;
  padding: 1rem 0;
  font-size: 3rem;
}
.imagen {
  height: 400px;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .imagen {
    height: 700px;
  }
}

/* CONTACTO */
form legend {
  margin: 4rem auto;
  font-weight: bold;
  font-size: 3rem;
}
.contenedor-campo {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media (min-width: 768px) {
  .contenedor-campo {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 0 auto;
  }
}
.campo {
  margin-bottom: 3rem;
  text-align: center;
}
@media (min-width: 768px) {
  .campo {
    text-align: center;
  }
  .campo label {
    margin-right: 2rem;
  }
}
.campo input,
textarea {
  display: block;
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 990px) {
  .campo input,
  textarea {
    display: inline-block;
    width: 100%;
  }
  .campo input {
    height: 5rem;
  }
  textarea {
    margin-bottom: -2rem;
  }
  .campo label {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
}
.btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  float: right;
  width: 100%;
}
@media (min-width: 768px) {
  .btn-form {
    margin: 0 auto;
    width: 100%;
  }
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.932);
}

/* FOOTER */
footer {
  background-color: #333;
  font-size: 2rem;
}
@media (min-width: 769px) {
  footer {
    font-size: 1.6rem;
  }
}
.contenido-footer {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 480px) {
  .contenido-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer {
  padding: 3rem 0;
  color: rgb(194, 194, 194);
  text-align: center;
}
.footer a {
  color: white;
  text-decoration: underline;
}
.footer a i {
  font-size: 5rem;
  margin-right: 2rem;
}
.footer-iconos a:last-of-type i {
  margin-right: 0;
}
.copyright {
  text-align: center;
  background-color: rgb(41, 41, 41);
  margin: 0;
  padding: 1rem;
}

/** CONTENIDO PRINCIPAL **/
.panificacion {
  background-color: var(--primarioTransparente);
}
#panificacion span,
#panificacion h4 {
  font-size: 2.2rem;
  font-weight: bold;
}
.dulces {
  background-color: var(--terciarioTransparente);
}
.cafeteria {
  background-color: var(--secundarioTransparente);
  margin-bottom: 3rem;
}
.dulces h2, .dulces p span,
.cafeteria p {
  color: var(--primario);
}
.dulces p,
.panificacion h2, .panificacion p span {
  color: var(--secundario);
}
.panificacion p,
.cafeteria h2, .cafeteria p span {
  color: var(--terciario);
}
.main > div h2 {
  text-align: center;
  font-size: 2.6rem;
}
.contenido-principal p {
  display: grid;
  grid-template-columns: 5fr 1fr;
  font-weight: bold;
}

/** CONTENIDO SECUNDARIO **/
.contenido-carta {
  padding: 2rem;
}
.contenido-carta h2 {
  text-align: center;
  color: var(--terciario);
  font-size: 2.6rem;
}
.contenido-carta h4,
.contenido-carta span {
  font-size: 2.2rem;
  font-weight: bold;
}
.contenido ul {
  margin: 0rem 0;
}
.opciones {
  padding: 0;
}
.opciones li {
  display: grid;
  grid-template-columns: 4fr 1fr;
  row-gap: .5rem;
  column-gap: 1.5rem;
  align-items: center;
  padding: 3rem;
  border-radius: 3rem;
}
.opciones li p {
  grid-column: 1/-1;
  font-weight: bold;
}
.primario {
  background-color: var(--primario);
}
.secundario {
  background-color: var(--secundario);
}
.terciario {
  background-color: var(--terciario);
}
.terciario h4, .terciario span,
.secundario p {
  color: var(--primario);
}
.primario h4, .primario span,
.terciario p {
  color: var(--secundario);
}
.secundario h4, .secundario span,
.primario p {
  color: var(--terciario);
}
#cena h2 {
  color: var(--primario);
}

/*** Promociones ***/
.promociones {
  background-color: var(--terciarioTransparente);
  color: var(--primario);
  border-radius: 3rem 0 3rem 0;
  padding: 2rem;
}
.promociones h2 {
  color: var(--primario);
  margin-bottom: 2rem;
}
.promociones ul {
  margin: .2rem;
}
.promociones ul li {
  border-top: 4px double var(--secundario);
  border-radius: unset;
}

/*** Bebidas ***/
.bebidas {
  border-radius: 3rem;
  padding: 1rem;
}
.bebidas > div  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 321px) {
  .bebidas > div  {
    text-align: center;
    grid-template-columns: 1fr!important;
  }
}
.bebidas ul {
  padding: 0;
}
.bebidas ul li {
  padding: 1rem;
}
.bebidas h4 {
  font-size: 1.6rem;
}
.bebidas h3,
.bebidas h2 {
  margin: 1rem;
  text-align: center;
  grid-column: 1/-1;
}
.right {
  border-right: 2px solid rgb(46, 27, 17);
}
@media (max-width: 321px) {
  .right {
    border-right: none;
  }
}
.sin-alcohol {
  background-color: var(--primarioTransparente);
  margin-bottom: 3rem;
}
.sin-alcohol h4,
.con-alcohol span {
  color: var(--terciario);
  margin-bottom: 1rem;
}
.sin-alcohol span {
  color: var(--secundario);
}
.con-alcohol {
  background-color: var(--secundarioTransparente);
}
.con-alcohol h4,
.con-alcohol h3 {
  color: var(--primario);
}

/** Inicio Sesion **/
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-formulario { 
  width: 100%;
  height: 60vh;
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .contenedor-formulario {
    width: 60%;
    height: 30vh;
    margin: 0;
  }
}

/** ADMIN CARTA **/
.edit-carta {
  background-color: #C2185B;
  color: #000000;
  width: 100vw;
}
.edit-carta h1 {
  text-align: center;
  font-size: 3.6rem;
  margin: 3rem;
  color: white;
}
.edit-seccion {
  padding-top: 1rem;
  background-color: #FFC107;
}
@media (min-width: 768px) {
  .edit-seccion {
    padding: 3rem;
    border-radius: 5rem;
  }
}
.edit-seccion ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr repeat(3, 1fr);
  column-gap: 2rem;
  font-size: 2rem;
  padding-left: 0;
}
@media (min-width: 768px) {
  .edit-seccion ul {
    padding-left: 4rem;
  }
}
.edit-seccion span,
.edit-seccion a {
  display: block;
}
.edit-seccion a i {
  font-size: 3rem;
  color: white;
}